<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
    <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<h3>comments</h3>
<% article.comments.forEach(aComment => { %>
    <% let name = aComment.name %>
    <% let content = aComment.content %>
    <div>
        name: <%= name %>
        content: <%= content %>
    </div>

<% }) %>


<hr/>

<form action="/comments" method="POST">
    <label for="name">name:</label>
    <input type="text" name="name">
    <label for="content">content:</label>
    <input type="text" name="content">
    <input type="hidden" name="articleId" value="<%= article.id %>">
    <input type="submit">
</form>

<a href="/">go home</a>
